<div class="container border" id="main">
    <nav class="navbar navbar-expand-sm navbar-success" style="background-color:#F0F3F4;  ">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Workforce</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" href="#" [routerLink]="['/emplist']" skipLocationChange >Employee</a>
          </li>
          <li class="nav-item ml-2" [routerLinkActive]="['active']">
            <a class="nav-link" href="#" [routerLink]="['/addemp']" skipLocationChange [routerLinkActive]="['active']">Add Employee</a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
          
        </ul>
      </nav>
      <router-outlet></router-outlet>
</div>
