<div class="container w-75 mt-5">
    <div class="row">
        <div class="col-span-4">
            <div class="card">
                <div class="card">
                    <img class="card-img-top img-fluid" src="../../assets/user2.png" alt="Card image" >                    
                </div>
            </div>  
        </div>
        <div class="col-span-8 ml-5 mb-3">
            <form class="form-group" action="/action_page.php">
                <div class="form-inline mb-3">
                  <label class="mr-4">First Name</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-inline mb-3">
                    <label class="mr-4">Last Name</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                  <div class="form-inline mb-3">
                    <label class="mr-5">Email:</label>
                    <input class="ml-3" type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                  <div class="form-inline">
                    <label class="mr-4">Upload Photo</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div> 
                  <button type="button" class="btn mt-3" style="background-color: #12b2f1;">Add Employee</button>
            </form>    
        </div>
    </div> 
</div>
